html,
body {
    height: 100%;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

footer {
    flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	background-color: var(--nav-colour);
	margin: 2rem;
    color: rgb(0, 0, 0);
    padding: 0.5em;
}

footer > div {
	display: flex;
    justify-content: space-between;
    font-size: 1em;
    background-color: white;
}

.wrapper {
    flex: 1 0 auto;;
}
