h1 {
  font-size: 34px;
}

.header {
  font-size: 34px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 48px;
}

.navbar {
  background-color: #F4F3EE !important;
  position: relative !important;
  z-index: 1;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 6px;
}

.card-body .three {
  border-style: solid !important;
  border-color: black !important;
}

.collapse .navbar-collapse {
  z-index: 1 !important;
}

.navbar-brand {
  color: #262626 !important;
  font-size: 36px;
  font-weight: 700;
  margin-left: 2px !important;
}

@media only screen and (min-width: 375px) {
  .navbar-brand {
    margin-left: 10px !important;
  }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 14px !important;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-brand {
    margin-left: 37px !important;
  }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 40px;
  }
}

@media only screen and (min-width: 1366px) {
  .navbar-brand {
    margin-left: 130px !important;
  }
}

@media only screen and (min-width: 1920px) {
  .navbar-brand {
    margin-left: 418px !important;
  }
}

.navbar .active .nav-link {
  color: #C32C72 !important;
}

html,
body {
  height: 100%;
}

body {
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-body {
  background-color: #F4F3EE;
  padding-top: 100%;
  border-radius: 25px;
  margin: 25px;
  background-color: none !important;
  border: none !important;
  width: 280px !important;
  margin-left: 6px !important;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.heading {
  padding-top: 120px;
  text-align: center;
}

.card {
  max-width: 900px;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

div.card {
  background: none;
  border: none;
}

div.card-body {
  height: 240px;
  width: 255px;
  -webkit-box-shadow: 5px 10px 8px 10px #e2e2e2;
          box-shadow: 5px 10px 8px 10px #e2e2e2;
  border-style: solid !important;
}

@media only screen and (min-width: 320px) {
  .header {
    margin-top: 34px;
    margin-bottom: 14px;
  }
}

@media only screen and (min-width: 375px) {
  div.card-body {
    height: 240px !important;
    width: 314px !important;
    margin-left: 15px !important;
  }
  .header {
    margin-top: 44px;
    margin-bottom: 23px;
  }
}

@media only screen and (min-width: 1366px) {
  div.card-body {
    height: 240px;
    width: 255px !important;
  }
  .header {
    margin-top: 44px;
    margin-bottom: 23px;
  }
  .hello {
    margin-left: 139px !important;
  }
}

@media only screen and (min-width: 1920px) {
  .hello {
    margin-left: 432px !important;
  }
}

/*TESTE
.container{
    position: absolute !important;
}
*/
/*TESTE TESTE TESTE FUNGE IKKE 
card-body .three{
    border: 1px solid black!important;
}
/*
.container{
    position: relative !important;
}/*

/*TESTE TESTE TESTE FUNGE IKKE */
.footer {
  background-color: #ffffff !important;
  height: 92px !important;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1em;
  padding: 0.5em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media only screen and (min-width: 1366px) {
  .footer {
    background-color: #F4F3EE !important;
    height: 44px !important;
  }
}

.footer {
  height: 44px !important;
}
/*# sourceMappingURL=style.css.map */