h1 {
  font-size: 34px;
}

.header {
  font-size: 34px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 48px;
}

.navbar {
  background-color: #F4F3EE !important;
  height: 70px;
  /*testetesteteste*/
  position: relative !important;
}

.navbar-brand {
  color: #262626 !important;
  font-size: 36px;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .navbar-brand {
    margin-left: 22px;
  }
}

@media only screen and (min-width: 1366px) {
  .navbar-brand {
    margin-left: 100px;
  }
}

@media only screen and (min-width: 1920px) {
  .navbar-brand {
    margin-left: 389px;
  }
}

.navbar .active .nav-link {
  color: #C32C72 !important;
}

/*NAVBAR TESTING 
.collapse .navbar-collapse{
    position: relative;
}

.nav-link{
    position: absolute;
}

   /*testetesteteste FUNKE IKKE NEJE
.navbar a {
    display: block;
}
 navbar-toggler-icon{
     position: absolute;
 }
 */
html,
body {
  height: 100%;
}

body {
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*TESTE
.container{
    position: absolute !important;
}

.container:{
    align-content: center;
}
*/
.card-body {
  background-color: #F4F3EE;
  padding-top: 100%;
  border-radius: 25px;
  margin: 25px;
  background-color: none !important;
  border: none !important;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.heading {
  padding-top: 120px;
  text-align: center;
}

.card {
  max-width: 870px;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

div.card {
  background: none;
  border: none;
}

div.card-body {
  height: 240px;
  width: 255px;
  -webkit-box-shadow: 5px 10px 8px 10px #e2e2e2;
          box-shadow: 5px 10px 8px 10px #e2e2e2;
}

/*TESTE TESTE TESTE FUNGE IKKE 
card-body .three{
    border: 1px solid black!important;
}
/*
.container{
    position: relative !important;
}/*

/*TESTE TESTE TESTE FUNGE IKKE */
@media only screen and (min-width: 320px) {
  .navbar-brand {
    margin-left: 24px;
  }
  .header {
    margin-top: 34px;
    margin-bottom: 14px;
  }
}

@media only screen and (min-width: 375px) {
  div.card-body {
    height: 240px;
    width: 292px;
  }
  .header {
    margin-top: 44px;
    margin-bottom: 23px;
  }
}

@media only screen and (min-width: 1366px) {
  div.card-body {
    height: 240px;
    width: 255px;
  }
  .header {
    margin-top: 44px;
    margin-bottom: 23px;
  }
}

.footer {
  background-color: #F4F3EE !important;
  height: 44px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1em;
  padding: 0.5em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/*TESTE
.2020{
    margin-right:45px;
}

*/
/*# sourceMappingURL=style.css.map */