$primary:#463F3A;

$navbar-light-color:#C32C72;
$navbar-light-active-color:#C32C72;
$background-colour:#E5E5E5;
$primary-colour: #f80e68;
$primary-colour-hover: #C32C72;
$nav-colour: #F4F3EE;
$footer-font-colour: #8D8D8D;
$nav-font-colour:#262626;


