.footer  {
	background-color: $footer-colour !important;
	height: 92px !important;
	flex-shrink: 0;
	margin-top: 16rem;
	display: flex;
	justify-content: space-between;
	font-size: 1em;
	padding: 0.5em;
	left: 0;
	bottom: 0;
	width: 100%;
}


@media only screen and (min-width: 1366px) {
	.footer {
		background-color: $nav-colour !important;
		height: 44px !important;
	}
}
@media only screen and (min-width: 768px){

}.footer {
		height: 44px !important;
	}


