.footer{
    background-color:$nav-colour !important;
    height: 44px;
    flex-shrink: 0;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    padding: 0.5em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*TESTE*/
.2020{
    margin-right:45px;
}

