html,
body {
    height:100%;
   
}

body{
    background-color: $background-colour;
    display: flex;
    flex-direction: column;
}
/*TESTE
.container{
    position: absolute !important;
}
*/

.card-body{
    background-color: $nav-colour;
    padding-top: 100%;
    border-radius: 25px;
    margin: 25px;
    background-color: none !important;
    border: none !important ;
}


.wrapper{
   flex: 1 0 auto;
}

.heading{
padding-top: 120px;
text-align: center;
}

.card{
    max-width: 870px;
    margin: 0 auto;
    flex: 1 0 auto;
}


div.card{
  background: none;
  border: none;
}

div.card-body{
   
    height: 240px;
    width: 240px;
}

/*TESTE TESTE TESTE FUNGE IKKE */

card-body .three{
    border: 1px solid black!important;
}
