.navbar{
    background-color:$nav-colour !important;
    height: 70px;
    /*TESTE
      position: absolute !important;
    */
}
.navbar-brand{
    font-color: $nav-font-colour !important;
    font-size: 36px;
    font-weight: 700;
}

 @media only screen and (min-width: 768px){
    .navbar-brand{
        margin-left: 22px;
    }
 }

 @media only screen and (min-width: 1366px){
    .navbar-brand{
        margin-left: 100px;
    }
 }
 @media only screen and (min-width: 1920px){
    .navbar-brand{
        margin-left: 389px;
    }
 }

 .navbar .active .nav-link {
    color:$primary-colour-hover !important;
}

/*NAVBAR TESTING 
.collapse .navbar-collapse{
    position: relative;
}

.nav-link{
    position: absolute;
}
*/