.navbar{
    background-color:$nav-colour !important;
    position: relative !important; 
    z-index: 1;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 6px;
}

.navbar-brand{
    color: $nav-font-colour !important;
    font-size: 36px;
    font-weight: 700;
    margin-left: 2px !important;
}
 
@media only screen and (min-width: 375px){
    .navbar-brand{
        margin-left: 10px !important;
    }
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 14px !important;
    }
}
 @media only screen and (min-width: 768px){
    .navbar-brand{
        margin-left: 37px !important;
    }
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 40px;
    }
 }

 @media only screen and (min-width: 1366px){
    .navbar-brand{
        margin-left: 130px !important;
    }
    .navbar-collapse{
        margin-right: 77px;
        z-index:1 !important;
    }
    
 }
 @media only screen and (min-width: 1920px){
    .navbar-brand{
        margin-left: 394px !important;
    }
    .navbar-collapse{
        margin-right:343px;
        z-index:1 !important;
    }
    
 }

 .navbar .active .nav-link {
    color:$primary-colour-hover !important;
}
