.navbar{
    background-color:$nav-colour !important;
    position: relative !important; 
    z-index: 1;
}
.card-body .three{
    border-style: solid !important;
    border-color: black !important;
}
.collapse .navbar-collapse{
    z-index:1 !important;
}
/*TESTE TESTE TESTE

.nav-item{
    position: absolute;
}
*/
.navbar-brand{
    color: $nav-font-colour !important;
    font-size: 36px;
    font-weight: 700;
}

 @media only screen and (min-width: 768px){
    .navbar-brand{
        margin-left: 37px !important;
    }
 }

 @media only screen and (min-width: 1366px){
    .navbar-brand{
        margin-left: 130px !important;
    }
 }
 @media only screen and (min-width: 1920px){
    .navbar-brand{
        margin-left: 418px !important;
    }
 }

 .navbar .active .nav-link {
    color:$primary-colour-hover !important;
}

/*NAVBAR TESTING 
.collapse .navbar-collapse{
    position: relative;
}
   /*testetesteteste FUNKE IKKE NEJE
.navbar a {
    display: block;
}
 navbar-toggler-icon{
     position: absolute;
 }
 */